/* Ajusta o menu para o mobile */
@media (max-width: 1024px) {
  .menu-toggle {
    display: block;
    position: absolute;
    top: 15px;
    right: 20px;
    z-index: 1001; /* Garante que fique acima do menu */
    color: white;
    font-size: 28px;
    cursor: pointer;
  }

  .navbar-container {
    background: transparent;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 15px 0;
    transition: background 0.3s ease-in-out;
    box-shadow: none; /* Remove qualquer sombra */
  }

  .navbar-container.active {
    background: #111;
  }

  .navbar-container ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 0px;
    right: 0;
    background: #111;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    padding-top: 15px;
  }

  .navbar-container ul a {
    display: block;
    padding: 10px;
  }

  .showcase-container > .showcase-text {
    margin-bottom: 200px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .showcase-container > .showcase-text > h1 {
    font-size: 3rem;
    text-align: center;
    line-height: 3.3rem;
  }
  .showcase-container > .showcase-text > p {
    font-size: 0.875rem;
    text-align: center;
    margin-top: 15px;
  }

  /* About me */
  .about-me-content {
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 20px;
  }

  .about-me-content > img {
    width: 180px; /* Ajuste para telas menores */
    height: 180px;
    margin-bottom: 20px;
    border-radius: 50%;
  }

  .about-me-content p {
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: justify;
    padding: 10px;
  }

  /* Habilidades */
  .skill-content {
    flex-direction: column;
    margin-top: 40px;
  }
  .skill-content > .skill-item:nth-child(2) {
    margin: 40px 0;
  }

  .skill-item img {
    width: 60px;
    height: 60px;
  }

  .skill-item {
    padding: 30px;
  }

  .skill-item p {
    font-size: 0.875rem;
  }

  /* Projetos */

  .projects-content {
    margin-top: 40px;
  }
  .project-item {
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }

  .project-item img {
    width: 90%;
    max-width: 400px;
    margin-bottom: 15px;
    border-radius: 10px;
  }
  /* .project-item:last-child {
    margin-bottom: 0;
  } */

  .project-text {
    padding: 10px;
  }

  .project-text h3 {
    font-size: 1.5rem;
  }

  .project-item p {
    font-size: 0.875rem;
    margin-top: 10px;
  }

  .projects-content .project-item:nth-child(2) {
    justify-content: center;
    text-align: center;
  }

  .projects-content .project-item:nth-child(2) > img {
    order: 1;
    margin-left: 0;
  }
  .projects-content .project-item:nth-child(2) > .project-text {
    order: 2;
  }

  /* Formulario */

  .contact-form {
    margin-top: 40px;
  }

  /* Footer */

  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .social-items {
    margin-bottom: 15px;
  }
  .social-items a:last-child {
    margin-right: 0;
  }

  /* Utilities */
  .section-title {
    font-size: 2rem;
  }

  .section-container {
    padding: 30px;
  }
}
